.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;

  min-width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.title {
  font-size: var(--text-xl);
}

.board {
  display: flex;
  flex-direction: row;
  min-width: 100%;

  overflow-x: scroll;
  overflow-y: hidden;
}

.list {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  color: hsl(0, 0%, 30%);

  min-width: 14rem;
  height: fit-content;

  background-color: hsl(0, 0%, 95%);
  border-radius: 0.2rem;

  margin-right: 1rem;

  font-size: var(--text-md);
}

.listHeader {
  width: 100%;
  height: 2rem;

  padding-top: 1rem;
  padding-left: 1rem;

  font-weight: bold;
}

.ticketContainer {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  display: flex;
  flex-direction: column;
}

.ticket {
  width: 100%;
  height: 5rem;
  background-color: hsl(0, 0%, 100%);

  margin-bottom: 1rem;

  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;

  border-radius: 0.2rem;
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 2px 1px var(--border-color);
}

.fill {
  width: 100%;
  height: 100%;
}
