.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;

    min-width: 100%;
    min-height: 100%;

    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.title {
    font-size: var(--text-xl);
}

.board {
    display: flex;
    flex-direction: row;
    min-width: 100%;

    overflow-x: scroll;
    overflow-y: hidden;
}

.list {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    color: hsl(0, 0%, 30%);

    min-width: 14rem;
    height: fit-content;

    background-color: hsl(0, 0%, 95%);
    border-radius: 0.2rem;

    margin-right: 1rem;

    font-size: var(--text-md);
}

.listHeader {
    width: 100%;
    height: 2rem;

    padding-top: 1rem;
    padding-left: 1rem;

    font-weight: bold;
}

.ticketContainer {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    display: flex;
    flex-direction: column;
}

.ticket {
    width: 100%;
    height: 5rem;
    background-color: hsl(0, 0%, 100%);

    margin-bottom: 1rem;

    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;

    border-radius: 0.2rem;
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0px 2px 1px var(--border-color);
}

.show {
    display: grid !important;
}

.fill {
    width: 100%;
    height: 100%;
}

.background {
    display: none;
    position: fixed;
    z-index: 1;

    width: 100vw;
    height: 100vh;

    top: 0;
    left: 0;

    background-color: hsla(238, 36%, 18%, 0.3);
}

.modal {
    --width: 50vw;

    display: none;

    position: fixed;
    z-index: 2;
    width: var(--width);
    
    min-height: 40vh;
    max-height: 70vh;

    top: 5rem;
    left: calc((100vw - var(--width)) / 2);

    background-color: white;
    border-radius: 0.4rem;

    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;

    grid-template-columns: 2fr 1fr;
}

.main {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.modalTitle {
    font-size: var(--text-xl);
}

.description {
    resize: none;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex-direction: row-reverse;
}

.exit {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}

.exit:hover {
    background-color: var(--border-color);
}