.layout {
    min-width: 100vw;
    min-height: 100vh;

    display: grid;
    grid-template-rows: 4rem 1fr;
    grid-template-columns: 16rem 1fr;
    grid-template-areas: 
        "header header header"
        "sidebar main main";

    background-color: var(--bg-color);
}

.header {
    grid-area: header;

    border-bottom: 1px solid var(--border-color);
    box-shadow: 0px 2px 10px var(--border-color);

    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 2rem;
    padding-right: 2rem;

    gap: 1rem;
}

.header-logoapp {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 20%;
    background-color: hsl(219, 100%, 58%);
    color: white;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.header-app {
    font-size: var(--text-xl);
}

.header-button {
    font-size: var(--text-lg);
}

.header-spacer {
    flex-grow: 1;
}

.sidebar {
    grid-area: sidebar;

    background-color: hsl(0, 0%, 95%);
    border-right: 1px solid var(--border-color);
}

.main {
    grid-area: main;
}
